@using WebApplication1.Model
@model List<Coin>


@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<div>
    <h4>CoinTable</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Symbol</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
        @foreach (var coin in Model)
        {
            <tr>
                <td>@coin.Symbol</td>
                <td>@coin.Name</td>
                <td>@coin.Price</td>
            </tr>
        }

        </thead>
    </table>
        
</div>
